.movies-card {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.movies-card_hidden {
    display: none;
}

.movies-card__trailer-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.movies-card__image {
    width: 100%;
    aspect-ratio: 16/9;
}

.movies-card__info-wrapper {
    margin: 0;
    padding: 10px 0 13px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.movies-card__name {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.movies-card__button {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: inherit;
    flex-shrink: 0;
    cursor: pointer;
}

.movies-card__button_hidden {
    display: none;
}

.movies-card__like-button {
    background-image: url(../../images/like-icon-disabled.svg);
}

.movies-card__like-button_active {
    background-image: url(../../images/like-icon-enabled.svg);
}

.movies-card__delete-button {
    background-image: url(../../images/close-icon-mini.svg);
    visibility: hidden;
}

.movies-card__info-wrapper:hover>.movies-card__delete-button {
    visibility: visible;
}

.movies-card__duration {
    margin: 0;
    padding: 6px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #8B8B8B;
    border-top: 1px solid #424242;
    ;
}

@media screen and (max-width: 768px) {
    .movies-card__info-wrapper {
        padding-bottom: 25px;
    }

    .movies-card__name {
        font-size: 12px;
    }

    .movies-card__duration {
        font-size: 10px;
    }
}

@media screen and (max-width: 480px) {
    .movies-card__delete-button {
        visibility: visible;
    }
}