.search-form {
    margin: 0;
    padding: 0 70px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.search-form__form-wrapper {
    margin: 0;
    padding: 70px 0;
    width: 100%;
    height: 72px;
    border-bottom: 2px solid #424242;
}

.search-form__form {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: #2F2F2F;
    border-radius: 9px;
}

.search-form__search-input {
    margin: 0;
    padding: 15px 0 15px 51px;
    width: 100%;
    background: inherit;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #FFF;
    background-image: url(../../images/search-icon.svg);
    background-size: 22px 22px;
    background-position: left 19px center;
    background-repeat: no-repeat;
}

.search-form__search-input:focus-visible {
    outline: none;
}

.search-form__submit-button {
    margin: 0 30px 0 45px;
    padding: 0;
    width: 34px;
    height: 34px;
    background-image: url(../../images/search-button-icon.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: inherit;
    flex-shrink: 0;
    cursor: pointer;
}