.header {
    margin: 0;
    padding: 0 70px;
    width: 100%;
    min-height: 75px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header__nav-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
}

@media screen and (max-width: 1023px) {
    .header {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding-left: 14px;
        padding-right: 14px;
    }
}