.form-input-label {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 47px;
    border-bottom: 1px solid #424242;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-input-label:last-child {
    border: none;
}

.form-input {
    margin: 0;
    padding: 15px 0;
    width: calc(100% - 140px);
    background-color: inherit;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: #FFFFFF;
}

.form-input:focus-visible {
    outline: none;
}