.form-input-label {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 47px;
    border-bottom: 1px solid #424242;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-input-label_place_auth {
    flex-direction: column;
    gap: 10px;
    align-items: start;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
    border: none;

}

.form-input-label:last-child {
    border: none;
}

.form-input {
    margin: 0;
    padding: 15px;
    width: calc(100% - 140px);
    background-color: inherit;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: #FFFFFF;
}

.form-input_place_auth {
    padding: 15px;
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #2F2F2F;
    text-align: left;
    font-size: 13px;
    line-height: 16px;
}

.form-input:focus-visible {
    outline: none;
}