.auth-page {
    margin: 0;
    padding: 70px 70px;
    width: 100%;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.auth-page__container {
    margin: 0;
    padding: 0;
    width: 396px;
}

.auth-page__greeting {
    margin: 0;
    padding: 0;
    width: 100%;
}

.auth-page__greeting-logo {
    width: 38px;
    height: 38px;
}

.auth-page__greeting-title {
    margin: 0;
    padding: 40px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.auth-page__form {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.auth-page__form-input-label {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 47px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.auth-page__form-input {
    margin: 0;
    padding: 15px;
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #2F2F2F;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.2;
    color: #FFFFFF;
}

.auth-page__form-input:focus-visible {
    outline: none;
}

.auth-page__form-input-error {
    margin: 0;
    padding: 8px 0 0;
    width: 100%;
    min-height: 20px;
    display: inline-block;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #EE3465;
}

@media screen and (max-width: 1023px) {
    .auth-page {
        padding: 232px 30px;
    }
}

@media screen and (max-width: 767px) {
    .auth-page {
        padding-top: 56px;
        padding-bottom: 30px;
    }

    .auth-page__greeting {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .auth-page__greeting-title {
        padding-top: 50px;
        padding-bottom: 80px;
    }
}